body {
  padding-top: 50px;
}

#slides {
  position: relative;
  height: 400px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing {
  opacity: 1;
  z-index: 2;
}

.slide:nth-of-type(1) {
  background-image: url('../img/Got1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
}

.slide:nth-of-type(2) {
  background-position: center;
  background-image: url('../img/Got4.jpg');
  background-repeat: no-repeat;
  background-size: 80% 80%;
}

.slide:nth-of-type(3) {
  background-image: url('../img/Got3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
}
